apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: phoenix-secrets
  namespace: phoenix
spec:
  encryptedData:
    POSTGRES_PASSWORD: <SEALED_POSTGRES_PASSWORD>
    JWT_SECRET_KEY: <SEALED_JWT_SECRET_KEY>
    CREDENTIAL_ENCRYPTION_KEY: <SEALED_CREDENTIAL_ENCRYPTION_KEY>
    ANTHROPIC_API_KEY: <SEALED_ANTHROPIC_API_KEY>
    MINIO_ROOT_USER: <SEALED_MINIO_ROOT_USER>
    MINIO_ROOT_PASSWORD: <SEALED_MINIO_ROOT_PASSWORD>
  template:
    metadata:
      name: phoenix-secrets
      namespace: phoenix
    type: Opaque
